# 1. 운영체제 및 시스템 파일
.DS_Store
Thumbs.db

# 2. 로그 및 임시 파일
*.log
*.tmp
*.bak
/temp

# 3. 환경 변수 파일
.env
.venv/

# 4. IDE 설정 및 캐시 (IntelliJ, STS)
# .idea/ 전체를 무시합니다.
.idea/
*.iml
*.iws
*.ipr

# (특정 경로만 무시하고 싶다면)
work/Ex0827_SpringEx1/.idea/material_theme_project_new.xml

# 5. 빌드 결과물 (Java/Spring)
/bin/
/target/
*.class
*.jar
*.war
